{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>SendEmail</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>

</head>
<body>

    <h1> Contato </h1>
 <form action="POST" id="contact-form" style="display: flex; flex-direction: column; width: 400px;">
    {% csrf_token %}

    <label for="input-name"> Name</label>
    <input type="text" name="name" id="input-name" required>

    <label for="input-email"> Email</label>
    <input type="email" name="email" id="input-email" required>

    <label for="input-subject"> Subject</label>
    <input type="text" name="subject" id="input-subject" required>

    <label for="input-message"> Message</label>
    <input type="text" name="message" id="input-message" required>

    <input type="submit" value="send">
</form>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>

<script type="text/javascript" src="{% static 'main.js' %}"></script>

</body>
</html>